<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Stragegic Window</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <label for="surveySelect">Survey</label>
                    <select class="form-control"
                            id="surveySelect"
                            ng-model="shell.selectedSurvey"
                            ng-change="shell.onSurveyChange()"
                            ng-options="survey.name for survey in shell.surveys.items">
                        <option value="" ng-repeat="survey in shell.surveys.items">{{survey.name}}</option>
                    </select>
                </div>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid" ui-view></div>